---

import barba from '@barba/core';

interface Props {
  title?: string;
  description?: string;
  class?: string;
  href: string;
  gradient: string;
}

const { title, description, href, gradient} = Astro.props;
---

<a
  href={href}
  class={`${Astro.props.class} relative rounded-3xl backdrop-blur-md border-2 shadow-inner shadow-black/70 overflow-hidden group`}
>

<div class=`
  absolute z-10 bottom-0 top-0 h-full w-full
  mix-blend-multiply bg-gradient-to-t from-[${gradient}] via-[${gradient}]
`></div>

<slot name="image" />

<div class="relative select-none flex flex-col justify-end gap-1 p-[0.95rem] text-lg z-20 h-full">
  <h2  class="text-5xl font-black text-white font-sans uppercase text-balance">{title}</h2>
  {description && <h3 class="text-xl font-medium max-w-[33rem] text-slate-100 mt-1 mb-4">{description}</h3>}
  
  <slot name="content" />
</div>

</a>
