---
interface Props {
    title: String;
    street1: String;
    street2: String;
    link: String;
    color: String;
}

const { title, street1, street2, link, color } = Astro.props;
---

<article class=`flex justify-between ${color} items-center border-2 p-8 rounded-2xl`>
    <div class="flex flex-col">
        <h2 class="text-5xl font-black text-black">{title}</h2>
        <p class="text-3xl text-slate-600">{street1} - {street2}</p>
    </div>
    <a href=`${link}` class="border-2 px-8 py-4 rounded-lg text-xl border-red-600 font-bold text-black">Generar Reporte</a>
</article>
